{% extends "shared/base.html" %}


{% block sidebarcontainer %}

<!-- NO SIDEBAR
<div class="sidebar">
        <div class="well" style="padding: 0">
			-->
			{% block sidebar %}{% endblock sidebar %}
			<!--
        </div>
      </div>
     -->

{% endblock sidebarcontainer %}


{% block colleft %}
	
	<!-- toolbar -->

		<div id="visPanel" class="toolbarPanel">
			<h1>Visualization</h1>
			<!--
			<a href="#" id="hideVisPanel">&laquo; Hide Panel</a><br/> -->
			
				<label for="select-vis"style="text-align: left;">Visualisation:</label>
				<select id="select-vis" name="select_vis[]" style="width: 160px">
									
				</select>
				<label for="select-edge"style="text-align: left;">Edges:</label>
				<select id="select-edge" name="select_edge[]" style="width: 160px">
				</select>
				
				<label for="select-size"style="text-align: left;">Size:</label>
				<select id="select-size" name="select_size[]" style="width: 160px">
				</select>
				
				<label for="select-color"style="text-align: left;">Color:</label>
				<select id="select-color" name="select_color[]" style="width: 160px">
				</select>
				
				
				<label for="select-label" style="text-align: left;">Label:</label>
				<select id="select-label" name="select_label[]" style="width: 160px">
				</select>
				
				<div>
				<div style="float: left">
					<input type="checkbox" name="label-for-attr" value="attr" checked="true"/>Attributes
				</div>
				<div style="float: left; margin-left: 10px;">
					<input type="checkbox" name="label-for-obj" value="obj" checked="true"/>Objects
				</div>
				</div>
				
			
			<div style="margin-top: 10px;">
				<input type="checkbox" name="highlight" value="path" checked="checked" /> Highlight path
			</div>
			
		</div>
		
		
		<div id="highlightPanel" class="toolbarPanel">
			<h1>Filter</h1>
			<div id="metric-filter-content">
				
			</div>
		</div>
		
		
		<div id="metricPanel" class="toolbarPanel">
			<h1>Metrics</h1>
			<div style="display: inline">
				<input type="checkbox" name="metric" value="istability"  style="margin-right: 10px" />
				<span rel="tooltip" data-trigger="hover" data-placement="right" data-title="Stability">Stability (Intent)</span>
			</div>
			<br/>
			<div style="display: inline">
				<input type="checkbox" name="metric" value="esupport" style="margin-right: 10px" />
				<span rel="tooltip" data-trigger="hover" data-placement="right" data-title="It shows how frequent the objects of a concept appear in other concepts. High support means that the concept covers a high number of objects, usually more generic concepts.">Support (Extent)</span>
			</div>
			<br/>
			<div style="display: inline">
				<input type="checkbox" name="metric" value="separation"  style="margin-right: 10px" />
				<span rel="tooltip" data-trigger="hover" data-placement="right" data-title="Stability">Separation</span>
			</div>
			<br/>
			<div style="display: inline">
				<input type="checkbox"  name="metric" value="probability"style="margin-right: 10px" />
				<span rel="tooltip" data-trigger="hover" data-placement="right" data-title="Stability">Probability</span>
			</div>
			<br/>
			<div style="display: inline">
				<input type="checkbox"  name="metric" value="confidence"style="margin-right: 10px" />
				<span rel="tooltip" data-trigger="hover" data-placement="right" data-title="It tells how likely it is to a concept imply another">Confidence</span>
			</div>
			<br/>
			<div style="display: inline">
				<input type="checkbox"  name="metric" value="similarity"style="margin-right: 10px" />
				<span rel="tooltip" data-trigger="hover" data-placement="right" data-title="It means how similar two concepts are based on their properties and objects in common">Similarity</span>
			</div>
			<h1>Transformation</h1>
			<div style="margin-top: 10px;">
				<a class="btn btn-mini btn-primary tree-transform" href="#modal-tree-transform" data-toggle="modal" data-backdrop="true" data-keyboard="true">Tree-transform</a>
			</div>
			<h1>Clustering</h1>
			<div style="margin-top: 10px;">
				<a class="btn btn-mini btn-primary clustering" href="#modal-clustering" data-toggle="modal" data-backdrop="true" data-keyboard="true">Clustering</a>
			</div>
		</div>
		
		<div id="toolbar">
				<ul>
					<li class="visButton" rel="tooltip"  data-trigger="hover" data-placement="right" data-title="Visualisation">
						<img src="{{STATIC_URL}}images/connections.jpg"/>
					</li>
					<li class="highlightButton"  rel="tooltip"  data-trigger="hover" data-placement="right" data-title="Filter">
						<img src="{{STATIC_URL}}images/lookup.jpg"/>
					</li>
					<li class="metricButton"  rel="tooltip"  data-trigger="hover" data-placement="right" data-title="Metric">
						<img src="{{STATIC_URL}}images/bar-chart.jpg"/>
					</li>
				</ul>
		</div>

		<!-- end of toolbar -->

		<div id="colleft">
			<div id="panel">
					<h1>Selection</h1>
					<a href="#" id="hidePanel">&laquo; Hide Panel</a><br/>
					<a href="#" class="clear-sel">Clear</a> |
					<a href="#" class="compare" data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true">Compare</a> |
					<a href="#" class="filter-search">Filter</a>
					<ul id="selection_list">
					</ul>
				</div>
		</div>
		<div id="showPanel">
				<span id="sel-count" style="font-size:10px; color: red">(0)</span><br/>
				<span style="font-size:26px; color: #606060; font-weight: bold">&raquo;</span>
		</div>
		
		
		
		
		<div id="entityContainer">
			<div id="entityPanel">
					<h1>Entities</h1>
					<a href="#" id="hideEntPanel" style="margin-bottom: 8px;">&laquo; Hide Panel</a><br/>
					
					<ul class="tabs" data-tabs="tabs">
			            <li class="active"><a href="#attrTab">Attributes</a></li>
			            <li><a href="#objTab">Objects</a></li>
		            </ul>
					<div id="my-tab-content" class="tab-content">
			            <div class="active tab-pane" id="attrTab">
			            	<input type="checkbox" id="selAllAttr" /> All |
							<a href="#" class="filter-attrs">Filter</a> (all | any)
							<ul id="attr_list" class="entityList">
							</ul>
			            </div>
			            <div class="tab-pane" id="objTab">
			            	<input type="checkbox" id="selAllObj" /> All |
							<a href="#" class="filter-objs">Filter</a> (all | any)
							<ul id="obj_list" class="entityList">
							</ul>
			            </div>
			        </div>
					
					
					
				</div>
		</div>
		<div id="showEntitiesPanel">
				<span style="font-size:10px; color: red">A (<span id="attr-count">0</span>)</span><br/>
				<span style="font-size:10px; color: red">O (<span id="obj-count">0</span>)</span><br/>
				<span style="font-size:26px; color: #606060; font-weight: bold">&raquo;</span>
		</div>

{% endblock colleft %}


{% block endbody %}

	<div id="filtersPanel">
			<div id="thepanel">
				<a href="#" id="hideFiltersPanel">&laquo; Collapse</a> 
				
				
				| <a href="#" class="distribution-view active">Distribution</a> <a href="#" class="graph-view">Lattice</a>
				
				| <a href="#" class="reset-filters">Reset</a>
				
				<!--
				
				|  <input type="radio" name="filter-type" value="drill-down" checked="checked"/>
				<span class="explain" data-tooltip="Filter acts eliminating data progressively">Progressive</span> 
					
					<input type="radio" name="filter-type" value="selective" /> 
				<span class="explain" data-tooltip="Filter keeps only selected data">Selective</span>
				-->
					
					
				
				<div id="filters_container" class="filters_container"></div>
				<div id="graph_container" class="filters_container" style="display:none"></div>
				
				
			</div>
	</div>
	<div id="showFiltersPanel">
		<span>Filters &raquo;</span>
	</div>
	
	
	
	<div id="modal-from-dom" class="modal hide fade" style="width: 640px">
            <div class="modal-header">
              <a href="#" class="close">&times;</a>
              <h3>Concepts Similarity Matrix</h3>
            </div>
            <div class="modal-body">
<!--
              <p>One fine body…</p>
             -->
              <div id="compare-chart"></div>
            </div>
            <div class="modal-footer">
              <a href="#" class="btn primary compare">Compare</a>
              <!--
              <a href="#" class="btn secondary">Secondary</a>
              -->
            </div>
          </div>
          
          
   <div id="modal-tree-transform" class="modal hide fade" style="width: 640px">
            <div class="modal-header">
              <a href="#" class="close"  data-dismiss="modal" aria-hidden="true">&times;</a>
              <h3>Tree-transformation</h3>
            </div>
           <form action="/fca/transform" method="GET">
           <div class="modal-body">
        	
	        	<label> Criteria: </label>
	        	<select id="select-criteria" name="criteria" style="width: 160px">
								<option value="istability">Stability (Intent)</option>
								<option value="estability">Stability (Extent)</option>
								<option value="esupport">Support (Extent)</option>
								<option value="separation">Separation</option>
								<option value="probability">Probability</option>
								<option value="confidence">Confidence</option>
								<option value="similarity">Similarity</option>
								<option value="root-distance">Root distance</option>
				</select>
          	
        	</div>
            <div class="modal-footer">
              <input type="submit" class="btn primary tree-transform-ok" value="OK">
              <!--
              <a href="#" class="btn secondary">Secondary</a>
              -->
            </div>
            </form>
     </div>
          
          
     <div id="modal-clustering" class="modal hide fade" style="width: 640px">
            <div class="modal-header">
              <a href="#" class="close"  data-dismiss="modal" aria-hidden="true">&times;</a>
              <h3>Clustering</h3>
            </div>
            <!--
           <form action="/fca/cluster" method="GET">
           <div class="modal-body">
        	
	        	<label> Numer of Clusters: </label>
	        	
          		<input type="text" id="n_clusters" name="n_clusters" style="width: 75px; border:0; color:#f6931f; font-weight:bold; background-color: transparent;" />
				<div id="slider-clustering" class="slider clustering"></div>
        	</div>
            <div class="modal-footer">
              <input type="submit" class="btn primary clustering-ok" value="OK">
            </div>
            </form>
            -->
           <div class="modal-body">
        	
	        	<label> Numer of Clusters: </label>
	        	
          		<input type="text" id="n_clusters" name="n_clusters" style="width: 75px; border:0; color:#f6931f; font-weight:bold; background-color: transparent;" />
				<div id="slider-clustering" class="slider clustering"></div>
        	</div>
            <div class="modal-footer">
            	<a href="#" class="btn primary clustering-ok"  data-dismiss="modal">OK</a>
            </div>
     </div>

<script type="text/javascript" src="{{STATIC_URL}}scripts/cubix.dashboard.onload.js"></script>

{% endblock endbody %}