

{% extends "shared/base.html" %}

{% block js %}
<script type="text/javascript" src="{{STATIC_URL}}scripts/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
	$(function() {
	
		$('ul.nav > li.active').removeClass("active");
		$('li#workspace').addClass("active"); 
		
		// activate dropdown
		
	});
</script>
{% endblock js %}


{% block content %}


   
    <div class="row">
	
	<h3>New data source</h3>
	{% include 'context/_form.html' %}
	
	
	
	
	
    </div>




{% endblock content %}